page-mis-partidos {
    .card-ios {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
        background: #F4F4F4;

    }

    .card-title{
        display: none;
    }



    .card-partido{
        background-color: #f63c3d;
        color:white;
    }

    .card-partido p{
        color:white;
    }

    .card-tiempo{
        padding: 0;
        margin: 0;
        text-align: center;
        background-color: #1b4082;
        color: white;
    }

    .card-tiempo .label{
        margin:0;
    }

    .card-tiempo .item-inner{
        margin:0;
        padding: 0 !important;
    }

    agm-map {
        height: 150px;
      }

    #weatherDescription {
        display: inline;
        font-size: 2rem !important;
        color: white;
        text-transform: capitalize;
       }
        
       #weatherGroup {
       /* content: url('../../assets/icon/rain.png');
        max-width: 20px;
        display: inline;
        filter: brightness(0) invert(1);*/
        display: none;
       }
        
       #temperature {
        font-size: 2.5rem !important;
        display: inline;
        color: white;
       }
        
       #windSpeed {
        display: none;
       }
        
       #humidity {
        display: none;
       }
        
       #maxTemp {
        display: none;
       }
        
       #minTemp {
        display: none;
       }
       #pressure {
        display: none;
       }
        
       .content-box {
        display: block;
        padding: 0px;

       }

       .cabecera{
        width: 100%;
        height: 105px;
        background-image: url('../../assets/imgs/cabecera1.jpg');
    }
    
}
