
<ion-header>
  <ion-navbar>
    <ion-title>Mi Perfil</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
    <div class="cabecera"></div>
  <ion-grid>
   <ion-row *ngFor="let usuario of miPerfil | async | slice:0;  let i = index; first as isFirst">
      <ion-col col-9 *ngIf="i == 0">
          <h3 >{{usuario.nombre}}</h3>
          <p >{{usuario.email}}</p>
      </ion-col>
      <ion-col col-3 *ngIf="i == 0">
        <img class="avatar" src="../../assets/imgs/icono-perfil.png">
      </ion-col>
    </ion-row>

	 <ion-row>
      <ion-col col-12>
        <button ion-button full (click)="irAListaMisPartidosCreados()">Administrar partidos</button>
      </ion-col>
    </ion-row>
    
  </ion-grid>
</ion-content>
