
<ion-header>
  <ion-navbar>
    <ion-title>Mi Perfil</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid>
   <ion-row *ngFor="let usuario of miPerfil | async | slice:0;  let i = index; first as isFirst">
      <ion-col col-3 *ngIf="i == 0">

        <img class="avatar" src="https://cdn.pixabay.com/photo/2012/04/13/17/54/silhouette-33072_960_720.png">

      </ion-col>
      <ion-col col-9 *ngIf="i == 0">
         <h3 >Usuario: {{usuario.nombre}}</h3>
         <h4 >Contacto: {{usuario.email}}</h4>
      </ion-col>
    </ion-row>
	 <ion-row>
      <ion-col col-12>
        <button ion-button full (click)="irAListaMisPartidosCreados()">Administrar partidos</button>
        
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
