page-partidos-pasados {
    .text-center {text-align: center;}

    ion-card-content {
        display: block;
        background-color: white;
    }
    .cabecera{
        width: 100%;
        height: 105px;
        background-image: url('../../assets/imgs/jugados.jpg');
    }

    .ganador{
        border-bottom: 5px solid #439F43;
    }
    .perdedor{
        border-bottom: 5px solid #BB4242;
    }
}
